<div class="container">
	<div class="row">
		<div class="col col-12 col-md-6 col-xl-4">
			<app-card color="easy"></app-card>
		</div>
		<div class="col col-12 col-md-6 col-xl-4">
			<app-card color="intermediate"></app-card>
		</div>
		<div class="col col-12 col-md-6 col-xl-4">
			<app-card color="advanced"></app-card>
		</div>
		<div class="col col-12 col-md-6 col-xl-4">
			<app-card color="easy"></app-card>
		</div>
		<div class="col col-12 col-md-6 col-xl-4">
			<app-card color="intermediate"></app-card>
		</div>
		<div class="col col-12 col-md-6 col-xl-4">
			<app-card color="advanced"></app-card>
		</div>
		<div class="col col-12 col-md-6 col-xl-4">
			<app-card color="easy"></app-card>
		</div>
		<div class="col col-12 col-md-6 col-xl-4">
			<app-card color="intermediate"></app-card>
		</div>
		<div class="col col-12 col-md-6 col-xl-4">
			<app-card color="advanced"></app-card>
		</div>
	</div>
</div>