<div class="card">
	<div class="card-header" [ngStyle]="{'background-color': cardColor}">
		<div class="title">Quote</div>
		<div>
			@for (badge of badges(); track badge) {
				<span class="badge rounded-pill">{{badge}}</span>
		}
		</div>
	</div>
	<div class="card-body">
		<blockquote class="blockquote mb-0">
			<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis temporibus aliquid vel aspernatur nostrum reprehenderit, doloremque incidunt totam ratione obcaecati soluta pariatur velit, sit mollitia? Aliquam hic excepturi est illo?</p>
		</blockquote>
	</div>
</div>