@import '@styles';

nav {
	background-color: $secondary
}

nav ul {
	list-style: none;
	display: flex;
	padding: size(10);
	margin: 0;
}

nav ul li {
	display: flex;
	align-items: center;
}

nav ul li a {
	color: $black;
	text-decoration: none;
}

form {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.form-control:focus {
	border-color: $white;
	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.search-input {
	position: relative;
}
.search-input input {
	background-color: $primary;
	border: 1px solid $tertiary;
	padding-left: 45px;
	color: $white;
}

.search-input input::placeholder {
	color: $white;
}

.search-icon {
	position: absolute;
	left: size(15);
	top: 50%;
	transform: translateY(-50%);
	color: $white;
}

.large-screen {
  display: none;
}

.small-screen {
  display: block;
	margin-left: size(8);
  width: size(45); 
}

@media (min-width: 769px) {
  .large-screen {
    display: block;
    width: size(200);
  }
  .small-screen {
    display: none;
  }
	.form {
		width: 35%;
	}
}


